@charset "utf-8";
/*
#region !!====={ Version Information }=====!!
// %~%@ < 1.2001 > @%~%     // File Version
// %~%# < 12/1/2014 > #%~%   // File Mod Date
// %~%! < GenCart Content > !%~%    // Core Module
// %~%^ < 1.2000 > ^%~%     // Minimum Core Version
#endregion ==================================
*/

/* --------------------------------------------------------------------------- */
/* Basic Styles */
/* --------------------------------------------------------------------------- */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

/* >>>>>>>>>>>>>>>> General Look <<<<<<<<<<<<<<<< */
.gc_bold { font-weight:bold; }
.gc_unBold { font-weight:normal; }
.gc_italic { font-style:italic; }
.gc_underline {text-decoration:underline; }


/* >>>>>>>>>>>>>>>> Positioning <<<<<<<<<<<<<<<< */
.gc_floatLeft {float:left; }
.gc_floatRight {float:right; }
.gc_floatNone {float:none; }

.gc_clearLeft {clear:left; }
.gc_clearRight {clear:right; }
.gc_clearBoth {clear:both; }

.gc_block {display:block;}
.gc_none {display:none;}
.gc_inlineBlock {display:inline-block;}
.gc_tableCell {display:table-cell;}
.gc_absolute {position:absolute;}
.gc_relative {position:relative;}
.gc_table {display:table;}

/* >>>>>>>>>>>>>>>> Sizing <<<<<<<<<<<<<<<< */
.gc_BoxSizing { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.gc_4Across {width: 22%; float:left}
.gc_3Across {width: 32%; float:left}
.gc_2Across {width: 48%; float:left}
.gc_4AcrossBS {width: 24%; float:left}
.gc_3AcrossBS {width: 32%; float:left}
.gc_2AcrossBS {width: 49%; float:left}

.gc_W100 {width:100%}
.gc_half{width: 50%;}
.gc_quarter{width: 25%;}
.gc_3quarder{width: 75%}
.gc_third{width: 33%}
.gc_2third{width: 33%}

.gc_OverflowHidden {overflow:hidden;}
.gc_OverflowScroll {overflow:scroll;}
.gc_OverflowVisible {overflow:visible;}

/* >>>>>>>>>>>>>>>> Padding & Margins <<<<<<<<<<<<<<<< */
.gc_paddingSm {padding:2px;}
.gc_paddingTBSm { padding-top: 2px; padding-bottom: 2px; }
.gc_paddingLRSm { padding-left: 2px; padding-right: 2px; }

.gc_paddingMed {padding:5px;}
.gc_paddingTBMed { padding-top: 5px; padding-bottom: 5px; }
.gc_paddingLRMed { padding-left: 5px; padding-right: 5px; }

.gc_paddingLg {padding:10px;}
.gc_paddingTBLg { padding-top: 10px; padding-bottom: 10px; }
.gc_paddingLRLg { padding-left: 10px; padding-right: 10px; }


.gc_marginSm {margin:2px;}
.gc_marginTBSm { margin-top: 2px; margin-bottom: 2px; }
.gc_marginLRSm { margin-left: 2px; margin-right: 2px; }

.gc_marginMed {margin:5px;}
.gc_marginTBMed { margin-top: 5px; margin-bottom: 5px; }
.gc_marginLRMed { margin-left: 5px; margin-right: 5px; }

.gc_marginLg {margin:10px;}
.gc_marginTBLg { margin-top: 10px; margin-bottom: 10px; }
.gc_marginLRLg { margin-left: 10px; margin-right: 10px; }

.gc_marginLRCenter {margin-right: auto; margin-left: auto;}
.gc_marginTBCenter {margin-top: auto; margin-bottom: auto;}

.gc_marginRight {margin-right: 0px; margin-left: auto;}
.gc_marginLeft {margin-right: auto; margin-left: 0px;}
.gc_marginLR0 {margin-right: 0px; margin-left: 0px;}


/* >>>>>>>>>>>>>>>> Font/Text <<<<<<<<<<<<<<<< */
.gc_small {font-size:9px; }
.gc_medium {font-size:12px; }
.gc_large {font-size:16px; }

.gc_fontxSm { font-size:10px; }
.gc_fontSm { font-size:12px; }
.gc_fontMed { font-size:14px; }
.gc_fontLg { font-size:16px; }
.gc_fontxLg { font-size:18px; }

.gc_alignRight {text-align: right;}
.gc_alignCenter{text-align:center;}
.gc_alignLeft {text-align: left;}


/* >>>>>>>>>>>>>>>> Borders <<<<<<<<<<<<<<<< */
.gc_border1 {border:1px solid black; }
.gc_border1b {border-bottom:1px solid black; }
.gc_border1t {border-top:1px solid black; }
.gc_border1l {border-left:1px solid black; }
.gc_border1r {border-right:1px solid black; }

.gc_border2 { }
.gc_border2b {border-bottom:1px solid #333 }
.gc_border2t {border-top:1px solid #333 }
.gc_border2l {border-left:1px solid #333 }
.gc_border2r {border-right:1px solid #333 }

.gc_border3 { }
.gc_border3b {border-bottom:1px solid #999 }
.gc_border3t {border-top:1px solid #999 }
.gc_border3l {border-left:1px solid #999 }
.gc_border3r {border-right:1px solid #999 }

.gc_border4 {border:1px solid #5C87B2 }
.gc_border4b {border-bottom:1px solid #5C87B2 }
.gc_border4t {border-top:1px solid #5C87B2 }
.gc_border4l {border-left:1px solid #5C87B2 }
.gc_border4r {border-right:1px solid #5C87B2 }

.gc_borderNoneT{border-top:none;}
.gc_borderNoneB{border-bottom:none;}
.gc_borderNoneL{border-left:none;}
.gc_borderNoneR{border-right:none;}

.gc_borderRed{border:1px solid red;}
.gc_borderGreen{border:1px solid green;}
.gc_borderBlue{border:1px solid blue;}
.gc_borderBlack{border:1px solid black;}

/* >>>>>>>>>>>>>>>> Colors <<<<<<<<<<<<<<<< */
.gc_color1 { color:black }
a.gc_color1:link { color:black }
a.gc_color1:visited { color:black }

.gc_color2 { color:#333 }
a.gc_color2:link { color:#333 }
a.gc_color2:visited { color:#333 }

.gc_color3 { color:#555 }
a.gc_color3:link { color:#555 }
a.gc_color3:visited { color:#555 }

.gc_color4 { color:#FEC558 }
a.gc_color4:link { color:#FEC558 }
a.gc_color4:visited { color:#FEC558 }

.gc_color5 { color:white }
a.gc_color5:link { color:white }
a.gc_color5:visited { color:white }

.gc_color6 { color:#777 }
a.gc_color6:link { color:#777 }
a.gc_color6:visited { color:#777 }

.gc_bgcolor1 {background: #FFF }
.gc_bgcolor2 { }
.gc_bgcolor3 { }
.gc_bgcolor4 { background: #E4E4EA }

.gc_red {color:red}
.gc_black {color:black}

/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */
/* Element based styles */
/* --------------------------------------------------------------------------- */
.gc_error	{color: Red; }
.field-validation-error {color: Red;}


a.gc_formButton {
	text-decoration:none;
	font-weight:normal;
	margin-top:2px;
	margin-bottom:2px;
	position:relative;
	display:inline-block;
	padding: 4px 6px;
}


input[type=text].gc_formBox, span.gc_formBox {
    background-color: rgba(255,255,255,.45);
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 96%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    font-family: 'maven_pro';
}
.notMulch input.gc_formBox[type="text"], span.gc_formBox {height:25px;}
select.gc_formBox {
    background-color: rgba(255,255,255,.45);
    width: 96%;
    padding: 5px;
    border-radius: 2px;
    height: 3rem;
    font-family: 'maven_pro';
    margin-bottom: 10px;
}

span.gc_formBox {
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	margin-top:2px;
	display:block;
	width: 200px;
}



div.gc_checkoutHeading { float: left;font-size: 14px;width: 100%;margin-bottom: 5px;}
span.gc_checkoutBoxTitle {font-size: 12px; text-transform: uppercase; padding-left: 2px; margin-bottom: 4px;}

/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */
/* Drop Shadows and Gradients*/
/* --------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */
/* Popup Purchase Dialog */
/* --------------------------------------------------------------------------- */
div#gc_AddToCartMsg {}
	span#gc_countOfItems {}
	span.gc_addText {}
	span.gc_buttonWrapper {}
		a.gc_quickCartBtn {}
/* --------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------- */
/* Popup MiniCart Dialog */
/* --------------------------------------------------------------------------- */
div.gc_miniCart {

    min-height: 22px;
    width: auto;
    position:relative;

}
	div#gc_cart-descript-mini, div.gc_cart-descript-mini {width: 100%; }
		span.gc_shoppingCartFullempty { position:relative; width:100%; color:#aaa; line-height: 22px; letter-spacing:1px; }
			span.gc_emptyCart { float: left; margin-top: 0px; margin-right:6px; }
				span.gc_emptyCart span.gc_cartTitle { color:white; }
				span.gc_emptyCart span.gc_cartIcon {}
				span.gc_emptyCart span#gc_totalQtyMini { color: #aaa; font-size: 14px; letter-spacing: 1px; line-height: 16px; vertical-align:sub;}
	
	div#gc_PopulatedCartMini {}
		div.gc_PopulatedCartMiniMenu { float: left; list-style-type: none; position: relative; z-index:51; width:100%; }
			a#gc_checkoutarea, a.gc_cart-descript-open { float: right; }
				span.gc_shoppingCartFull { color: #7234B0; float: left; letter-spacing: 1px; line-height: 22px; margin-right: 4px; position: relative; width: 100%; }
					span.gc_shoppingCartFull span.gc_cartTitle {}
					span.gc_shoppingCartFull span.gc_cartIcon {}
					span.gc_shoppingCartFull span#gc_totalQtyMiniFull {letter-spacing: 1px; line-height: 16px; }
			a#checkoutarea:hover div#gc_closeMe{display: block;}
			div#gc_closeMe { background-color:#fff;border: 1px solid #ccc; border-top:none;width:400px; padding:15px; right: 0; top: 35px; width: 354px; z-index: 20000; }
			div#gc_closeMe.close{ display:none; }
			div#gc_closeMe.open{ display:block; }
				div#gc_AppendToMe {}
					div.gc_mini-product-row {
                        background-color: #fff;
                        width: 100%;
                        border: none;
                        padding:5px 0;
                        border-bottom:1px solid #ccc;
                    }
						div.gc_mini-product-image { width: 25%; }
						div.gc_mini-product-info {width: 72%; margin-left:3%; color:#000000; }
							div.gc_miniName {width:100%;}
								div.gc_miniName > span.gc_prodOptions{ display:block; margin-top:5px; margin-bottom:5px; }
								div.gc_miniName > span.gc_prodOptions > ul{list-style:none; list-style-position:inside; margin-top: 0px; margin-bottom: 0px; font-size:10px;} 
								div.gc_miniName > span.gc_prodOptions > ul.gc_itemAttribute{}
								div.gc_miniName > span.gc_prodOptions > ul.gc_itemExtraOptions{}
							div.gc_mini-info-price {width: 100%;}
							div.gc_mini-qty {width: 100%;}
					
					div#gc_mini-cart-total-row { width: 100%; margin-top:5px; display:block; float:left;}
					div#mini-cart-total-row div { width:50%; }
						div.gc_alignLeft {}
							div#gc_miniSubTotalDIV, div.gc_mini-cart-total { margin-top:15px; text-transform: uppercase; }
						div.gc_alignRight {}
							div#gc_mini-cart-total-row a.gc_MiniCartCheckoutButton {
    margin-top: 8px;
    height: 30px;
    padding: 5px 25px;
    line-height: 20px;
    background-color:#00AEEF;
    color: #fff;
}
	div#gc_mini-cart-total-row a.gc_MiniCartCheckoutButton .fa {margin-left:10px;}
							div#gc_mini-cart-total-row a.gc_MiniCartCheckoutButton:hover { background:#3B3936; }
							
							
						
		
/* -----
GEN CART CHECKOUT
---------------------------------------------------------------------- */

div#checkoutWrap {
    width: 100%;
    float: left;

}
.billingColumn,
.shippinhColumn {
    width: 50%;
    float: left;
}

.gc_editorLabel  label    
{
    font-family: anton;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 13px;
    display: block;
    padding-top: 7px;
}


label {
    font-family: 'maven_pro';
}

label.gc_ccinfoBoxLabel {
    color: #8b0d19;
}

input.gc_formButton {
    padding: 16px;
    background-color: #8b0d19;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 24px;
}

table.gc_cartTableStepTwo {
    width: 100%;
    /* padding: 1%; */
    background-color: #fff;
    padding: 1%;
    box-shadow: 1px 1px 4px #8c8c8c;
}

tr.gc_cartTableStepTwoHeaders th {
    background-color: #8b0d19;
    padding: 2%;
    text-transform: uppercase;
    font-family: "open_sansbold";
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}


#gc_OrderConfirmation
{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.gc_clearBoth.gc_alignCenter.gc_fontxLg.gc_bold.gc_orderDetails{    font-size: 30px;
    font-family: "open_sansbold";
    font-weight: 700;
    margin: 10px 0;
    color: #962530;}



.accountContain {
    width: 100%;
    float: left;
    background-color: #fff;
    margin-bottom: 35px;
    font-family: 'maven_pro';
    padding:1%;
}

#gc_containerPagerOrder {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

div#sortOrderCat {
    float: right;
    width:30%;
}

span.selectContainerSort{display:block;width:77%;float:left;}
span.sortTitle
{
    display: block;
    width: 23%;
    float: left;
    color: #515151;
    font-family: anton;
    font-size: 18px;
    text-transform: uppercase;
}
select#gc_sortDropdown {
    background-color: rgba(255,255,255,.45);
    width: 96%;
    padding: 5px;
    border-radius: 2px;
    height: 2rem;
    font-family: 'maven_pro';
    margin-bottom: 10px;
}

div#gc_ZipCode {
    width: 70%;
    float: right;
}

div#gc_local {
    color: #515151;
    font-family: anton;
    font-size: 18px;
    text-transform: uppercase;
}

input#Switchloc {
    width: 21%;
    padding: 9px;
    background: #8b0d19;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'maven_pro';
    cursor: pointer;
}

input#ZipCodeSearchTxt {
    background-color: rgba(255,255,255,.45);
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 30px;
    width: 110px;
    font-size: 1rem;
    margin: 0 0 0px 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    font-family: 'maven_pro';
}

input#ZipCodeSearchSubmit {
    width: 20%;
    padding: 9px;
    background: #8b0d19;
    border: none;
    color: #fff;
    height: 33px;
    text-transform: uppercase;
    cursor: pointer;
}


a.userCheckoutButton {
    float: right;
    width: auto;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    font-family: 'maven_pro';
    margin-bottom: 16px;
    background-color: #8b0d19;
}

a.userCheckoutButton:hover {background-color:#00aeef;}


a.userCheckoutButtonBottom {
    width:170px;
    margin:30px auto 0;
    display:block;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    font-family: 'maven_pro';
    margin-bottom: 16px;
    background-color: #8b0d19;
    margin-bottom:0;
}

a.userCheckoutButtonBottom:hover {background-color:#00aeef;}
input#ZipCodetxt {
    background-color: rgba(255,255,255,.45);
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    background:#eee;
    width: 100%;
    max-width:200px;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 10px;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    font-family: 'maven_pro';
}

a#send {
    padding: 16px;
    background-color: #8b0d19;
    color: #fff;
    border: none;
    display: block;
    font-family: 'maven_pro';
    width: 113px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 21px;
    text-transform: uppercase;
    font-weight: bold;
}

.addressControlsSection {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.deleteContain,
.editContain {
    width: 50%;
    padding: 1%;
    float: left;
}


.editContain a {
    display: block;
    width: 25%;
    text-align: center;
    padding: 10px;
    background-color: #00aeef;
    color: #fff;
    text-decoration: none;
}

.editContain a:hover{background-color:#1565c0;}

.deleteContain a {
    display: block;
    width: 25%;
    text-align: center;
    padding: 10px;
    background-color: #8b0d19;
    color: #fff;
    text-decoration: none;
}
.deleteContain a:hover{background-color: #b71c1c;}

.createNewContainer {
    width: 100%;
    float: left;
    margin-top: 10px;
}

a.createButton {
    display: block;
    width: 25%;
    text-align: center;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    margin-left: 1%;
}
.createButton:hover{background-color: #2e7d32;}

.editCreateAddress {
    display: block;
    float: left;
    width: 100%;
}

span#StateDisplay {
    text-align: center;
    height: 20px;
    padding: 1%;
    
}


.productMainDisplay {
    width: 23%;
    float: left;
    position:relative;
    margin-left: 2%;
    height: 485px;
    margin-bottom: 24px;
    border-bottom: 2px solid #bfbfbf;
}
#main .productMainDisplay.notMulch {border-bottom: 2px solid #bfbfbf;display: inline-block;float: none;height: auto;margin-bottom: 30px;margin-right: 1%;margin-left:0;min-height: 430px;padding-bottom: 60px;vertical-align: top;width: 23%;}
#main .productMainDisplay:hover{border-bottom: 2px solid #962530;}

/* temp for accessories */#main .productMainDisplay.notMulch {height:auto;min-height: 360px;padding-bottom:0;}

span.gc_alignCenter.gc_block.gc_ProdName {
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 15px;
    font-weight: bold;
    padding-top: 10px;
}

span.gc_ProdNumberLabel {
    display: block;
    width: 100%;
    float: left;
    text-align: left;
    font-size: 13px;
    font-style: italic;
}
.notMulch span.gc_ProdNumberLabel {display: none;}
.notMulch .gc_shortDesc {display: none;}


span.gc_ProdPrice {
    display: block;
    float: left;
    width: 100%;
    padding-top: 20px;
    text-align: left;
    color: #962530;
    font-weight: bold;
        margin-bottom: 14px;
}
.notMulch .gc_ProdPrice {text-align: center;padding-top:15px;margin-bottom:10px;}
input#SwitchLocationBUTTON {
    display: block;
    /* float: right; */
    padding: 10px;
    border: none;
    background-color: #962530;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "open_sansbold";
}

input#ZipCode {
    background-color: rgba(255,255,255,.25);
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 29%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    font-family: 'maven_pro';
}




div.gc_detailsLink {
                width: 100%;
                height: 25px;
                margin-right: auto;
                margin-left: auto;
                position: absolute;
                bottom: 26px;
            }