@charset "utf-8";
/*
#region !!====={ Version Information }=====!!
// %~%@ < 1.2001 > @%~%     // File Version
// %~%# < 12/1/2014 > #%~%   // File Mod Date
// %~%! < GenCart Content > !%~%    // Core Module
// %~%^ < 1.2000 > ^%~%     // Minimum Core Version
#endregion ==================================
*/

/* Main Product Table */
div.gc_MainTable { width:100% }

	/* Main Table Cell for category tree */
	div.gc_MainTableCatCell { white-space:nowrap; float:left; }
		/* --------------------------------------------------------------------------- */
		/* Category Navication Parent DIV */
		div#gc_prodCats {}
		
			/* Category Navication Tree, root UL */
			ul.gc_RootCatNav { list-style:none; list-style-position:inside; margin-top: 0px; margin-bottom: 0px; }
				ul.gc_RootCatNav, ul.gc_RootCatNav li { margin-left: 10px; padding-left: 10px; }
				ul.gc_RootCatNav > li > a { text-decoration:none; }
				ul.gc_RootCatNav > li > a:hover { text-decoration:underline; }
		
			/* Category Navication Tree, all child ULs */
			ul.gc_SubCatNav { list-style:none; list-style-position:inside; margin-top: 0px; margin-bottom: 0px; }
				ul.gc_SubCatNav, ul.gc_SubCatNav li { margin-left: 10px; padding-left: 10px; }
				ul.gc_SubCatNav > li > a { text-decoration:none; }
				ul.gc_SubCatNav > li > a:hover { text-decoration:underline; }
			
			/* Category Navication Tree Selected Cat (LI and A tag) */
			li.selectedCatLI {}
			a.selectedCat {color:#900; font-weight:bold; }
		/* --------------------------------------------------------------------------- */

	/* Main Table Cell for Main Content */
	div.gc_MainTableContentCell { }

		/* --------------------------------------------------------------------------- */
		/* Main Table Cell Viewing Category */
		/* --------------------------------------------------------------------------- */
		div.gc_crumbPager {}
			div.gc_categoryNav {}
			div.gc_containerPagerOrder {}
				div.gc_sortOrder {}
					select.gc_sortDropdown {}
		
		div.gc_Categories {}
		/* --------------------------------------------------------------------------- */
		/* Category Display */
		/* Repeats for each sub category  */
			div.gc_CatWrapper {padding-right:10px;}
				span.gc_productImageHolder {}
					span.gc_tableCellCategoryImgCenter{}
						span.gc_categoryDisplayBlock {}
							img.gc_catImageTag {}
							
				span.gc_CategoryNameSingleLine {}
					span.gc_CategoryNameSingleLine > a {text-decoration:none;}
				span.gc_CategoryName {}
		/* --------------------------------------------------------------------------- */
						
		/* --------------------------------------------------------------------------- */
		/* Product Display */
		/* Repeats for each product  */
		div.gc_ProdDisplay {padding-right:10px;}
			.notMulch div.gc_ProdDisplayImgHolder {display: table-cell;vertical-align: middle;}
				span.gc_ProdImageHolder {}
					span.gc_ProdImgCenter {}
						span.gc_ProdDisplayBlock {}
                        .notMulch a.gc_ProdDisplayImgHolderAnchor {display: table;text-align: center;width: 100%;}
							a.gc_ProdDisplayImgHolderAnchor {}
								img.gc_prodImgTag {}
								
			span.gc_ProdName {}
			span.gc_ProdInfoHolder {}
				span.gc_ProdNumberLabel {}
				span.gc_ProdPrice {}

			/* For Buy Button Block */	
			div.gc_javaSub { }
				div.gc_detailsLink { width:100%; height:25px; margin-right: auto; margin-left: auto;}
					
				
			
			/* For Buy Button Block */	
			div.gc_javaSub { }
				div.gc_addToCart { width:105px; height:25px; margin-right: auto; margin-left: auto; }
					input[type="text"].gc_FeaturedQty {display:block; float:left;width:50px; height:14px; margin-right:5px; margin-top:2px;}
					input[type="button"].gc_buyProduct {display:block; float:left;height:20px; margin-top:2px; letter-spacing: 1px;}
		/* --------------------------------------------------------------------------- */


		/* --------------------------------------------------------------------------- */
		/* Main Table Cell Viewing Product Detail */
		/* --------------------------------------------------------------------------- */
		div#gc_ProductBG {}
			div#gc_ProductImageHolderLeft {}
				span.zoom, span#gc_mainImage {}
					img.gc_productimg, img#gc_prodMainImage {}
				div#gc_miniProductPhotoWrap {}
					div.gc_miniProductPhoto {float:left; margin-right:5px;}
				


			div#gc_ProductInfoWrapper {clear:both;}
			
			span.gc_detailProductLabels { font-weight:bold;}
		
						input[type="text"]#gc_ProdQty {width:50px; height:14px; margin-right:5px;}
						select#gc_ProdQty {}
					
					span#gc_javaSubBtnWrap {}
						input[type="button"]#gc_javaSub { letter-spacing: 1px;}
			
			div#gc_ProductInfoTileWrapper {clear:both;position:relative;}
				div.gc_ProductHighlightedAlready, div#gc_ProductFeaturesTabUnderline {}
				div#gc_ProductContentText {}
				div.gc_youtubevideos {}
					div.gc_youtubeItem {} /* may occur multiple times */
		
        .ProductPage div#Relocation {left: 130px;position: absolute;top: 15px;}

		div#gc_ProductVariants {}
			h2.gc_ProductVariantsH2 {}


		/* --------------------------------------------------------------------------- */
		/* Main Table Cell Viewing Product Detail Related Products */
		/* --------------------------------------------------------------------------- */
			div.gc_prodDisplay {display:table-cell; padding-right:10px;}
				div.gc_productDisplayImgHolder {}
					span.gc_productImageHolder {}
						span.gc_tableCellProductImgCenter {}
							span.gc_ProductDisplayBlock {}
								a.gc_productDisplayImgHolderAnchor{}
									img.gc_prodImgTag {}
				
				span.gc_featuredProdName {display:block; text-align:center;}
				span.gc_PinfoHolder {display:block; text-align:center;}
					span.gc_productNumberLabel {}
						span.gc_productNumber {}
					span.gc_featuredProdPrice {}
				div.gc_javaSub {}
					div.gc_detailsLink {
                            width: 100%;
                            height: 25px;
                            margin-right: auto;
                            margin-left: auto;
                            position: absolute;
                            bottom: 26px;
                        }
                    .notMulch div.gc_detailsLink {width: calc(100% - 30px);}
						input[type="button"].gc_viewProduct {}
								
							
		/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */


		
					
				
			
				
		
